<?xml version="1.0" encoding="UTF-8"?>
<?define Property_ProductVersion = "1.5.0.0" ?>
<?define Property_ProductCode = "86989cf7-e48a-428d-af21-ab36fe9d3d80" ?>
<?define Property_UpgradeCode = "e97b6ad4-5870-442F-8837-aa2ce19b1b31" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:complus="http://schemas.microsoft.com/wix/ComPlusExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

	<Product Id="$(var.Property_ProductCode)"
					 UpgradeCode="$(var.Property_UpgradeCode)"
					 Name="!(loc.Property_ProductName)"
					 Language="!(loc.Property_ProductLanguage)"
					 Version="$(var.Property_ProductVersion)"
					 Manufacturer="!(loc.Property_CompanyName)">

		<Package Description="!(loc.Package_Description)"
						 Comments="!(loc.Package_Comments)"
						 InstallerVersion="200"
						 Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    
		<Binary Id="License.txt"
						SourceFile="..\setup\License.txt" />

		<Binary Id="LicenseAccessible.txt"
						SourceFile="..\setup\LicenseAccessible.txt" />

		<CustomAction Id="CA_ErrWrongWindowsVersion"
									Error="!(loc.LaunchCondition_WrongOSVersion)" />

		<Condition Message="!(loc.LaunchCondition_AdminPrivs)">
			<![CDATA[Privileged]]>
		</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="WindowsFolder" Name="WINDOWS">
				<Directory Id="EhomeFolder" Name="eHome"/>
			</Directory>

			<Directory Id="ProgramFiles64Folder" Name="Program Files">
				<Directory Id="APPROOTDIRECTORY" Name="Media Center Network Controller">
					<!--<Directory Id="APPROOTDIRECTORY" Name="Controller"/>-->
				</Directory>
			</Directory>
		</Directory>

		<DirectoryRef Id="TARGETDIR">
			<!-- Install the MediaSink COM Object -->
			<!-- 1st GUID is the Sink Class GUID, 2nd one the MediaState entry point -->
			<!-- http://damianblog.com/2008/05/20/creating-msas-sinks-in-c/ -->
			
			<Component Id="MediaSinkRegistryEntries"
								 Guid="4f4ba16a-7ae4-4b1c-9608-76a435c2a1c0"
								 Win64="yes" >
				
				<RegistryKey Root="HKCR"
                     Key="CLSID\{38751110-99ac-4e25-b2f3-6f5e48428ebf}"
										 Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="VmcController.Status.MediaStatusSink"/>
				</RegistryKey>

				<!-- Implemented Categories -->
				<RegistryKey Root="HKCR"
                     Key="CLSID\{38751110-99ac-4e25-b2f3-6f5e48428ebf}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"
										 Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="Media Status Sink"/>
				</RegistryKey>

				<RegistryKey Root="HKCR"
                     Key="CLSID\{38751110-99ac-4e25-b2f3-6f5e48428ebf}\Implemented Categories\{FCB0C2A3-9747-4c95-9d02-820AFEDEF13F}"
										 Action="createAndRemoveOnUninstall">
				</RegistryKey>

				<!-- InprocServer32 -->
				<RegistryKey Root="HKCR"
                     Key="CLSID\{38751110-99ac-4e25-b2f3-6f5e48428ebf}\InprocServer32"
										 Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="mscoree.dll"/>
					<RegistryValue Type="string" Name="ThreadingModel" Value="Both"/>
					<RegistryValue Type="string" Name="Class" Value="VmcController.Status.Sink"/>
					<RegistryValue Type="string" Name="Assembly" Value="VmcController.Status, Version=1.0.0.0, Culture=neutral, PublicKeyToken=e9b33267ee70ac64"/>
					<RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727"/>
				</RegistryKey>

				<RegistryKey Root="HKCR"
                     Key="CLSID\{38751110-99ac-4e25-b2f3-6f5e48428ebf}\InprocServer32\3.5.0.0"
              Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Name="Class" Value="VmcController.Status.Sink"/>
					<RegistryValue Type="string" Name="Assembly" Value="VmcController.Status, Version=1.0.0.0, Culture=neutral, PublicKeyToken=e9b33267ee70ac64"/>
					<RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727"/>
				</RegistryKey>

				<!-- ProgId -->
				<RegistryKey Root="HKCR"
                     Key="CLSID\{38751110-99ac-4e25-b2f3-6f5e48428ebf}\ProgId"
										 Action="createAndRemoveOnUninstall">
					<RegistryValue Type="string" Value="VmcController.Status.MediaStatusSink"/>
				</RegistryKey>				
			</Component>

			<!-- Enable the MediaSink for all extenders -->
			<Component Id="ExtenderRegistryEntries"
								 Guid="5cd384e8-bae9-474d-ae16-ee54a1e3f119"
								 Win64="yes">
				<RegistryKey Root="HKLM"
                     Key="Software\Microsoft\Windows\CurrentVersion\Media Center\Service"
										 Action="create">
					<RegistryValue Type="integer" Name="AlwaysUseFPD" Value="1" KeyPath="yes"/>
				</RegistryKey>
			</Component>

      <!-- Add Media Center Extensibility Host & Media Center Media Status Aggregator Service to firewall -->
      <Component Id="FirewallEntries" Guid="B6872EA7-2B43-4BA6-B0C9-0E45F60D9745">
        <fire:FirewallException Id="MCEHF" Name="Media Center Extensibility Host" IgnoreFailure="no" Program="%windir%\ehome\ehexthost.exe" Profile="private" Scope="any"/>
        <fire:FirewallException Id="MCMSASF" Name="Media Center Media Status Aggregator Service" IgnoreFailure="no" Program="%windir%\ehome\ehmsas.exe" Profile="private" Scope="any"/>
      </Component>
			
		</DirectoryRef>

		<DirectoryRef Id="APPROOTDIRECTORY">
			
			<Component Id="MediaSink_dll" Guid="199cc3ce-0d64-4274-a727-ee2779395474" DiskId="1">
				<File Id="MediaSink_dll"
							Name="VmcController.Status.dll"
							KeyPath="yes"
							Source="..\\Status\bin\Release\VmcController.Status.dll"
							Checksum="yes"
							Vital="yes"
							Assembly=".net" />
			</Component>

			<Component Id="VmcController_AddIn.dll" Guid="3e33b90a-2639-45cd-8ba1-2f68dff628fd" DiskId="1">
				<File Id="VmcController_AddIn.dll"
							Name="VmcController.Add-In.dll"
							KeyPath="yes"
							Source="..\Add-In\bin\Release\VmcController.Add-In.dll"
							Checksum="yes"
							Vital="yes"
							Assembly=".net"/>
			</Component>

      <Component Id="Newtonsoft.Json.dll" Guid="5711a542-a976-4eb5-9612-152770ad8f0f" DiskId="1">
        <File Id="Newtonsoft.Json.dll"
							Name="Newtonsoft.Json.dll"
							KeyPath="yes"
							Source="..\packages\Newtonsoft.Json.5.0.6\lib\net35\Newtonsoft.Json.dll"
							Checksum="yes"
							Vital="yes"
							Assembly=".net"/>
      </Component>
      
			<Component Id="Interop_WMPLib.dll" Guid="5a2b7cf5-c6dc-4f7a-adb8-e1df03075de2" DiskId="1">
				<File Id="Interop_WMPLib.dll"
							Name="Interop.WMPLib.dll"
							KeyPath="yes"
							Source="..\Add-In\bin\Release\Interop.WMPLib.dll"
							Checksum="yes"
							Vital="yes"
							Assembly=".net"/>
			</Component>

			<Component Id="Registration.xml" Guid="0f7df66c-b5b0-462e-8cbb-36f2b8d06395" DiskId="1">
				<File Id="Registration.xml"
							Name="VmcController.Add-In.xml"
							Source="..\Add-In\VmcController.Add-In.xml"
							Checksum="no" />
			</Component>
		</DirectoryRef>

		<Feature Id="APPROOTFEATURE" Title="MCNC" Level="1">
			<ComponentRef Id="VmcController_AddIn.dll" />
			<ComponentRef Id="Interop_WMPLib.dll" />
			<ComponentRef Id="MediaSink_dll" />
			<ComponentRef Id="Newtonsoft.Json.dll" />
			<ComponentRef Id="Registration.xml" />
			<ComponentRef Id="MediaSinkRegistryEntries" />
			<ComponentRef Id="ExtenderRegistryEntries" />
      <ComponentRef Id="FirewallEntries" />
		</Feature>

		<Media Id="1" Cabinet="MyProject.cab" EmbedCab="yes" />

		<CustomAction Id="CA_RegisterMceApp_Unregister_Install_Cmd"
									Property="CA_RegisterMceApp_Unregister_Install"
									Value="&quot;[REGISTERMCEAPP]&quot; /u /allusers &quot;[#Registration.xml]&quot;"/>

		<CustomAction Id="CA_RegisterMceApp_Unregister_Uninstall_Cmd"
									Property="CA_RegisterMceApp_Unregister_Uninstall"
									Value="&quot;[REGISTERMCEAPP]&quot; /u /allusers &quot;[#Registration.xml]&quot;"/>

		<CustomAction Id="CA_RegisterMceApp_Register_Cmd"
									Property="CA_RegisterMceApp_Register"
									Value="&quot;[REGISTERMCEAPP]&quot; /allusers &quot;[#Registration.xml]&quot;"/>

		<CustomAction Id="CA_RegisterMceApp_Rollback_Cmd"
									Property="CA_RegisterMceApp_Rollback"
									Value="&quot;[REGISTERMCEAPP]&quot; /u /allusers &quot;[#Registration.xml]&quot;"/>

		<CustomAction Id="CA_RegisterMceApp_Unregister_Install"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec"
									Execute="deferred"
									Return="ignore"
									Impersonate="no"/>

		<CustomAction Id="CA_RegisterMceApp_Unregister_Uninstall"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec"
									Execute="deferred"
									Return="ignore"
									Impersonate="no"/>

		<CustomAction Id="CA_RegisterMceApp_Register"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec"
									Execute="deferred"
									Return="check"
									Impersonate="no"/>

		<CustomAction Id="CA_RegisterMceApp_Rollback"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec"
									Execute="rollback"
									Return="ignore"
									Impersonate="no"/>

		<InstallExecuteSequence>

			<LaunchConditions After="AppSearch"/>

			<Custom Action="CA_ErrWrongWindowsVersion"
							Before="CostInitialize">
				<![CDATA[(NOT VersionNT >= 601 OR NOT REGISTERMCEAPP) AND NOT Installed]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Unregister_Install_Cmd"
							After="CostFinalize">
				<![CDATA[NOT REMOVE]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Unregister_Uninstall_Cmd"
							After="CA_RegisterMceApp_Unregister_Install_Cmd">
				<![CDATA[REMOVE AND ($Registration.xml = 2)]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Register_Cmd"
							After="CA_RegisterMceApp_Unregister_Uninstall_Cmd">
				<![CDATA[NOT REMOVE]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Rollback_Cmd"
							After="CA_RegisterMceApp_Register_Cmd">
				<![CDATA[NOT REMOVE]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Unregister_Uninstall"
							Before="RemoveFiles">
				<![CDATA[REMOVE AND ($Registration.xml = 2)]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Rollback"
							After="InstallFiles">
				<![CDATA[NOT REMOVE]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Unregister_Install"
							After="CA_RegisterMceApp_Rollback">
				<![CDATA[NOT REMOVE]]>
			</Custom>

			<Custom Action="CA_RegisterMceApp_Register"
							After="CA_RegisterMceApp_Unregister_Install">
				<![CDATA[NOT REMOVE]]>
			</Custom>
		</InstallExecuteSequence>

		<InstallUISequence>
			<Custom Action="CA_ErrWrongWindowsVersion"
							Before="CostInitialize">
				<![CDATA[(NOT VersionNT >= 601 OR NOT REGISTERMCEAPP) AND NOT Installed]]>
			</Custom>
		</InstallUISequence>

		<Property Id="ARPHELPLINK" Value="!(loc.Property_ArpHelpLink)" />
		<Property Id="ARPURLINFOABOUT" Value="!(loc.Property_ArpUrlInfoAbout)" />
		<Property Id="ALLUSERS"> <![CDATA[1]]> </Property>

		<Property Id="MCEINSTALLVERSION" Secure="yes">
			<RegistrySearch Id="MceInstallRegKey"
											Root="HKLM"
											Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Media Center"
											Name="Ident"
											Type="raw"/>
		</Property>

		<Property Id="REGISTERMCEAPP" Secure="yes">
			<DirectorySearch Id="EhomeDirectory" Path="[WindowsFolder]\ehome">
				<FileSearch Id="RegisterMceAppExe" Name="RegisterMceApp.exe" />
			</DirectorySearch>
		</Property>

		<Property Id="WIXUI_INSTALLDIR" Value="APPROOTDIRECTORY"/>
		<Property Id="d4276fcf18d5470b97f3fc6c36408694" Value="License.txt"/>
		<Property Id="aefe520afb0145c1bc61ca0463a29e3c" Value="LicenseAccessible.txt"/>
		<UIRef Id="WixUI_InstallDir"/>
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
	</Product>
</Wix>
